{{define "content"}}
<div class="content">
    <h1 class="title is-1">{{.Jam.Title}}</h1>
    <a href="/jams/{{.Jam.URL}}" class="button is-small is-link">Overview</a>
    <a href="/jams/{{.Jam.URL}}/entries" class="button is-small is-link">Submissions</a>
    <a href="/jams/{{.Jam.ID}}/edit" class="button is-small is-link">Edit</a>

    <ul>
        {{ range .Games }}
        <li>
            <a href="/jams/{{$.Jam.URL}}/games/{{.URL}}">{{.Title}}</a>
        </li>
        {{ end }}
    </ul>

</div>

{{end}}