{{define "content"}}
<h1 class="title">
    Game Jam List
</h1>
{{if .Jams}}
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Voting end date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{range .Jams}}
        <tr>
            <td><a href="jams/{{ .URL }}">{{.Title}}</a></td>
            <td>{{.StartDate}}</td>
            <td>{{.EndDate}}</td>
            <td>{{.VotingEndDate}}</td>
            <td>
                <a href="/jams/{{.ID}}/edit" class="button is-small is-link">Edit</a>
                <a href="/jams/{{.ID}}/delete" class="button is-small is-danger">Delete</a>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{else}}
<p>No jams found</p>
{{end}}
{{end}}